<div id="cust-footer" class="modal-footer">
  Comments welcomed by <a href="mailto:{{ site.author.email }}">Email</a> or <a href="{{ site.author.twitter }}">Twitter</a>
  &middot; <a href="{{ site.colophon }}">Colophon</a>
</div> <!-- div id="cust-footer" class="modal-footer" -->

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-21404313-4', 'auto');
  ga('send', 'pageview');
</script>